.img-bootstrap:hover {
    transform: rotate(360deg);
    transition: 1s;
}

@keyframes texto-contacto {
    0% {
        color: white;
        font-size: 2rem;
    }
    50% {
        color: red;
        font-size: 3rem;
    }
    100% {
        color: black;
        font-size: 1rem;
    }
}